body{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(img/backgroud_stars.jpg);
    
}


.planet{

    margin-left: -800px;
    margin-top: -800px;
    position: absolute;
    border-radius: 50%;
    
}


.sun{
   
    margin-left: auto;
    margin-top: auto;
    width: 2000px;
    height: 2000px;
    background: url(img/sun.jpg);
    background-size: cover;
    box-shadow: inset 0 0 20px #ff5722,
                0 0 120px #ff5722;
    animation: Rotation 10s linear infinite; 
		
}


.mercury{

    margin-left: auto;
    margin-top: auto;
    width: 100px;
    height: 100px;
    background: url(img/mercury.jpg); 
    background-size: cover;
    box-shadow: inset 0 0 2px #afa39f,
                0 0 15px #afa39f;
    animation: Mercury 10s linear infinite,
               Rotation 10s linear infinite; 

}
	
@keyframes Mercury{

    from { 	transform: rotate(0deg) translateY(0) translateX(-2500px); } 
	to   {  transform: rotate(360deg)  translateY(0) translateX(-2500px); }

}


.venus{

    margin-left: auto;
    margin-top: auto;
    width: 300px;
    height: 300px;
    background: url(img/venus.png);
    background-size: cover;
    box-shadow: inset 0 0 20px #f3e9bc,
                0 0 20px #f3e9bc;
    animation: Venus 15s linear infinite,
               Rotation 10s linear infinite; 
		
}
	
@keyframes Venus{

    from { 	transform: rotate(0deg) translateY(0) translateX(-3000px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-3000px); }

}


.earth{

    margin-left: auto;
    margin-top: auto;
    width: 300px;
    height: 300px;
    background: url(img/earth.png);
    background-size: cover;
    box-shadow: inset 0 0 0px #f3f0e1,
                0 0 0px #f3f0e1;
    animation: Earth 30s linear infinite,
               Rotation 10s linear infinite; 	
		
}	

@keyframes Earth{

    from { 	transform: rotate(0deg) translateY(0) translateX(-3500px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-3500px); }

}


.mars{

    margin-left: auto;
    margin-top: auto;
    width: 200px;
    height: 200px;
    background: url(img/mars.png);
    background-size: cover;
    box-shadow: inset 0 0 5px #313030,
                0 0 5px #312f2f;
    animation: Mars 35s linear infinite,
               Rotation 10s linear infinite; 	
		
}
	
@keyframes Mars{

    from { 	transform: rotate(0deg) translateY(0) translateX(-4000px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-4000px); }

}


.jupiter{

    margin-left: auto;
    margin-top: auto;
    width: 600px;
    height: 600px;
    background: url(img/jupiter.jpg);
    background-size: cover;
    box-shadow: inset 0 0 35px #97948f,
                0 0 35px #97948f;
    animation: Jupiter 47s linear infinite,
               Rotation 10s linear infinite; 
		
}
	
@keyframes Jupiter{

    from { 	transform: rotate(0deg) translateY(0) translateX(-4500px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-4500px); }

}


.saturn{

    margin-left: auto;
    margin-top: auto;
    width: 600px;
    height: 600px;
    background: url(img/saturn.jpg);
    background-size: cover;
    box-shadow: inset 0 0 35px #97948f,
                0 0 35px #97948f;
    animation: Saturn 60s linear infinite,
               Rotation 10s linear infinite; 
            
}
	
@keyframes Saturn{

    from { 	transform: rotate(0deg) translateY(0) translateX(-5500px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-5500px); }

}


.uranus{

    margin-left: auto;
    margin-top: auto;
    width: 500px;
    height: 500px;
    background: url(img/uranus.jpg);
    background-size: cover;
    box-shadow: inset 0 0 35px #97948f,
                0 0 35px #97948f;
    animation: Uranus 65s linear infinite,
            Rotation 10s linear infinite; 
		
}	

@keyframes Uranus{

    from { 	transform: rotate(0deg) translateY(0) translateX(-6300px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-6300px); }

}


.neptune{

    margin-left: auto;
    margin-top: auto;
    width: 500px;
    height: 500px;
    background: url(img/neptune.jpg);
    background-size: cover;
    box-shadow: inset 0 0 25px #080e6457,
                0 0 20px #080e6457;
    animation: Neptune 65s linear infinite,	
            Rotation 10s linear infinite; 
            
}
	
@keyframes Neptune{

    from {  transform: rotate(0deg) translateY(0) translateX(-7200px); }
	to   {  transform: rotate(360deg)  translateY(0) translateX(-7200px); }
   
}

@keyframes Rotation{

    0%{
        background-position: 0;
      }

    100%{
        background-position: -300px;
    }
}
